<br><br>
<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: rgb(69, 185, 243);">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLink="binding">Data Binding</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onClickDirective()" >Directive</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="template">Template Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="reactive">Reactive Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="pipe">pipes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="service">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="servicecrude">CRUD Services </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="observable">Observable</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="promice">promices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="routing/shubham/03">Routing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="parent" >P to C</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " routerLink="cmp1" >C to P</a>
        </li>
  
        <li class="nav-item">
          <a class="nav-link " routerLink="3pl" >3rd party library</a>
        </li>
   
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
